body {
    font-family: Arial, sans-serif;
    background-color: #f1f7f6;
    margin: 0;
    padding: 0;
}

.container {
    width: 420px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

h2 {
    color: #1f6f8b;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #1f6f8b;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #155a70;
}

h3 {
    margin-top: 20px;
    color: green;
}

a {
    text-decoration: none;
    color: #2c7a7b;
}
