body {
    font-family: Arial, sans-serif;
    background-image: url("https://carbontracker.org/wp-content/uploads/2023/12/AdobeStock_643557000-scaled-e1702552895135.jpeg"); /* path to your image */
    background-size: cover;     /* makes the image cover the whole page */
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.login-container, .dashboard-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}

input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: white ;
    font-weight: bold;
    text-align: center;
    background-color: rgb(49, 48, 48);
}

button {
    padding: 10px 20px;
    background-color: #33cc33;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    transform: scale(1.1);  /* 10% bigger */
}

.error {
    color: red;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 8px;
}
